<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javi's blog</title>
</head>
<body>
    <h1>Javi's blog</h1>
    <h2>A blog made during Django Girls London</h2>

    <div role="main">
        {% for post in posts %}
        <div class="post">
            <h3 class="post-title">{{ post.title }}</h3>
            <p class="post-content">Published: {{ post.published_date }}</p>
            <div class="post-content">{{ post.text|linebreaks }}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
